*{
    box-sizing: border-box;
}
.pageHead{
    background: linear-gradient(rgb(11, 24, 99), rgb(70, 150, 216));
    color: white;
}
body{
    background-color: rgba(199, 195, 195, 0.556);
}
.cityFinder input[type=text]{
    float: left;
    width: 80%;
    height: 3em;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.cityFinder button{
    float: left;
    width: 20%;
    height: 3em;
    border-bottom-left-radius:  0;
    border-top-left-radius: 0;
}
.cityHistory{
    margin-top: 4em;
}
.uv_low{
    background-color: green;
    padding: .75em 1.5em .75em 1.5em;
    border-radius: 1em;
}
.uv_middle{
    background-color: rgb(207, 163, 69);
    padding: .75em 1.5em .75em 1.5em;
    border-radius: 1em;
}
.uv_high{
    background-color: red;
    padding: .75em 1.5em .75em 1.5em;
    border-radius: 1em;
}
.uvUNK{
    background-color: rgba(139, 139, 139, 0.568);
    padding: .75em 1.5em .75em 1.5em;
    border-radius: 1em;
}
.hidden{
    display: none;
}
#currentCityInfo{
    border: 1px solid black;
    margin-top: 2em;
}
#fiveDay{
    margin: 1em;
}
.prevCityList{
    background-color:  rgb(70, 150, 216);
    color: white;
}
.prevCityList:hover{
    background-color: rgb(11, 24, 99);
    cursor: pointer;
}
/* same as bootstrap code just changed colors to fit better */
#searchButton{
    --bs-btn-color: #fff;
    --bs-btn-bg: rgb(70, 150, 216);
    --bs-btn-border-color: rgb(70, 150, 216);
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: rgb(11, 24, 99);
    --bs-btn-hover-border-color: #1a1e21;
    --bs-btn-focus-shadow-rgb: 66,70,73;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #1a1e21;
    --bs-btn-active-border-color: #191c1f;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #212529;
    --bs-btn-disabled-border-color: #212529;
}
.card,
#currentCityInfo{
    color: white;
    background: linear-gradient(rgba(70, 150, 216, 0.767), rgba(0, 140, 255, 0.729));
}
