*{
    box-sizing: border-box;
}
.pageHead{
    background: linear-gradient(rgb(186, 134, 224), indigo);
}

.cityFinder input[type=text]{
    float: left;
    width: 80%;
    height: 3em;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.cityFinder button{
    float: left;
    width: 20%;
    height: 3em;
    border-bottom-left-radius:  0;
    border-top-left-radius: 0;
}
.cityHistory{
    margin-top: 4em;
}
.uv_low{
    background-color: green;
    padding: .75em 1.5em .75em 1.5em;
    border-radius: 1em;
}
.uv_middle{
    background-color: rgb(207, 163, 69);
    padding: .75em 1.5em .75em 1.5em;
    border-radius: 1em;
}
.uv_high{
    background-color: red;
    padding: .75em 1.5em .75em 1.5em;
    border-radius: 1em;
}
.uvUNK{
    background-color: rgba(139, 139, 139, 0.568);
    padding: .75em 1.5em .75em 1.5em;
    border-radius: 1em;
}
.hidden{
    display: none;
}